.no-js .dropdown-list {
  display: none;
}

.dropdown-list {
  top: 100%;
  left: 50%;
  width: 350px;
  transform: translate3d(-50%, 0, 0) rotateX(90deg);
  transition: 0.5s ease-in-out;
  transform-origin: left top;

  &.righty {
    right: 0;
    left: auto;
    transform: rotateX(90deg);
  }
}

.top-menu-link:after {
  content: "";
  width: 100%;
  height: 4px;
  background: orange;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotateY(90deg);
  transform-origin: left top;
}

@media screen and (min-width: 1290px) {
  .top-menu-link:hover {
    &:after {
      transition: 0.4s ease-in-out;
      transform: rotateY(0deg);
    }
    .dropdown-list {
      transform: translate3d(-50%, 0, 0) rotateX(0deg);
      z-index: 999;

      &.righty {
        transform: rotateX(0deg);
      }
    }
  }
}
