@tailwind preflight;

@import "typography";

@tailwind utilities;

svg {
  fill: currentColor;
}

.page-header {
  width: 100%;
}

body.stuck {
  overflow: hidden;
}

@import "top_menu";
@import "accordian";
@import "article_content";
@import "syntax_hightlighting.scss";
@import "lightbox";
@import "navbar";
