@tailwind preflight;

@import "typography";

@tailwind utilities;

svg {
  fill: currentColor;
}

.page-header {
  width: 100%;
}

html.stuck {
  overflow: hidden;

  body {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .page-header {
    position: fixed;
  }

  .accordian-icon {
    z-index: -1;
  }
}

body.stuck {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

@import "top_menu";
@import "accordian";
@import "article_content";
@import "syntax_hightlighting.scss";
@import "lightbox";
@import "navbar";
