@tailwind preflight;
@font-face {
  font-family: "hel-neue";
  src: url("/assets/fonts/HelveticaNeueLight.ttf");
  font-weight: 300; }
@font-face {
  font-family: "hel-neue";
  src: url("/assets/fonts/HelveticaNeueMedium.ttf");
  font-weight: 400; }
@font-face {
  font-family: "hel-neue";
  src: url("/assets/fonts/HelveticaNeueBold.ttf");
  font-weight: 700; }
@tailwind utilities;
svg {
  fill: currentColor; }

.page-header {
  width: 100%; }

body.stuck {
  overflow: hidden; }

.dropdown-list {
  top: 100%;
  left: 50%;
  width: 350px;
  transform: translate3d(-50%, 0, 0) rotateX(90deg);
  transition: 0.5s ease-in-out;
  transform-origin: left top; }
  .dropdown-list.righty {
    right: 0;
    left: auto;
    transform: rotateX(90deg); }

.top-menu-link:after {
  content: "";
  width: 100%;
  height: 4px;
  background: orange;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotateY(90deg);
  transform-origin: left top; }

@media screen and (min-width: 1280px) {
  .top-menu-link:hover:after {
    transition: 0.4s ease-in-out;
    transform: rotateY(0deg); }
  .top-menu-link:hover .dropdown-list {
    transform: translate3d(-50%, 0, 0) rotateX(0deg);
    z-index: 999; }
    .top-menu-link:hover .dropdown-list.righty {
      transform: rotateX(0deg); } }
.accordian-inner {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in; }

.accordian-trigger:checked ~ .accordian-inner {
  max-height: 40rem; }

.accordian-trigger:checked + .accordian-label {
  color: orange; }

.accordian-icon {
  transition: 0.3s;
  transform: rotate(0deg);
  padding-top: 4px; }

.accordian-trigger:checked + .accordian-label .accordian-icon {
  transform: rotate(180deg); }

.white {
  color: #fff; }

.black {
  color: #131516; }

.orange {
  color: #f29205; }

.red {
  color: #d31516; }

.green {
  color: #5eb109; }

.blue {
  color: #0999b1; }

.g1 {
  color: #f2f3f4; }

.g2 {
  color: #dadedf; }

.g3 {
  color: #c1c7c9; }

.g4 {
  color: #a7afb2; }

.g5 {
  color: #8c979a; }

.g6 {
  color: #6f7c80; }

.g7 {
  color: #555f61; }

.g8 {
  color: #373d3f; }

.white-bkg {
  background: #fff; }

.black-bkg {
  background: #131516; }

.orange-bkg {
  background: #f29205; }

.red-bkg {
  background: #d31516; }

.green-bkg {
  background: #5eb109; }

.blue-bkg {
  background: #0999b1; }

.g1-bkg {
  background: #f2f3f4; }

.g2-bkg {
  background: #dadedf; }

.g3-bkg {
  background: #c1c7c9; }

.g4-bkg {
  background: #a7afb2; }

.g5-bkg {
  background: #8c979a; }

.g6-bkg {
  background: #6f7c80; }

.g7-bkg {
  background: #555f61; }

.g8-bkg {
  background: #373d3f; }

body {
  line-height: 1.5; }

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

.article-content {
  /* Add margin if adjacent element */ }
  .article-content h1,
  .article-content .h1,
  .article-content h2,
  .article-content .h2,
  .article-content h3,
  .article-content .h3,
  .article-content h4,
  .article-content .h4,
  .article-content h5,
  .article-content .h5,
  .article-content h6,
  .article-content .h6 {
    font-weight: 700;
    margin: 0 0 1.25rem;
    color: #6f7c80;
    border-bottom: 1px solid #f2f3f4;
    letter-spacing: 0.025em;
    padding-bottom: 0.3125rem; }
  .article-content h1,
  .article-content .h1 {
    margin-top: 2.25rem;
    font-size: 2.375rem;
    line-height: 2.875rem;
    font-weight: 300;
    padding-bottom: 0.625rem; }
  .article-content h2,
  .article-content .h2 {
    font-size: 1.625rem;
    line-height: 2.125rem;
    font-weight: 300; }
  .article-content h3,
  .article-content .h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 300; }
  .article-content h4,
  .article-content .h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300; }
  .article-content h5,
  .article-content .h5 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    text-transform: uppercase; }
  .article-content h6,
  .article-content .h6 {
    font-size: 0.75rem;
    line-height: 1.25rem;
    text-transform: uppercase; }
  .article-content * + h1,
  .article-content * + .h1,
  .article-content * + h2,
  .article-content * + .h2,
  .article-content * + h3,
  .article-content * + .h3,
  .article-content * + h4,
  .article-content * + .h4,
  .article-content * + h5,
  .article-content * + .h5,
  .article-content * + h6,
  .article-content * + .h6 {
    margin-top: 2.25rem; }
  .article-content small {
    font-size: 95%; }
  .article-content p {
    line-height: 1.5;
    font-size: 1.0625rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  .article-content ol,
  .article-content ul {
    list-style: none; }
  .article-content ul {
    margin: 0 0 1.875rem;
    padding-left: 1.875rem;
    /* level *2 */ }
  .article-content ul li {
    margin: 0.3125rem 0 0;
    position: relative;
    padding: 0.3125rem 0 0.3125rem; }
  .article-content ul li:before {
    -webkit-font-smoothing: antialiased;
    content: "\2022";
    color: #555f61;
    font-size: 1.25rem;
    font-weight: 700;
    margin: -0.125rem 0.5625rem 0 -1.625rem;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .article-content ol {
    margin: 1.25rem 0 2.125rem 0;
    counter-reset: ordered-list;
    padding: 0; }
  .article-content ol li {
    border-bottom: 1px solid #f2f3f4;
    padding: 1.25rem 1.25rem 1.25rem 3.125rem;
    position: relative; }
  .article-content ol li:before {
    content: counter(ordered-list);
    counter-increment: ordered-list;
    color: #f29205;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0.5625rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .article-content a:focus {
    outline-color: transparent;
    outline-style: none; }
  .article-content a {
    color: #f29205;
    border-bottom: 1px solid #f2f3f4;
    text-decoration: none;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-transition: color 0.3s, background 0.3s, border 0.3s;
    -o-transition: color 0.3s, background 0.3s, border 0.3s;
    transition: color 0.3s, background 0.3s, border 0.3s; }
  .article-content a:hover,
  .article-content a:focus {
    background: #f2f3f4;
    color: #d31516; }
  .article-content hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    text-align: inherit;
    margin: 0 0 2.25rem 0;
    border: 0;
    border-top: 1px solid #f2f3f4; }
  .article-content * + hr {
    margin-top: 2.25rem; }
  .article-content blockquote {
    margin-bottom: 2.25rem;
    font-size: 1.25rem;
    padding: 0.5rem 1rem; }
  .article-content * + blockquote {
    margin-top: 2.25rem; }
  .article-content blockquote {
    margin-left: 0;
    border: 1px solid #f2f3f4;
    border-left: 3px solid #f29205; }
    .article-content blockquote.primary {
      border-left: 3px solid #0999b1; }
      .article-content blockquote.primary h5 {
        color: #0999b1; }
    .article-content blockquote.warning {
      border-left: 3px solid #f29205; }
      .article-content blockquote.warning h5 {
        color: #f29205; }
    .article-content blockquote.danger {
      border-left: 3px solid #d31516; }
      .article-content blockquote.danger h5 {
        color: #d31516; }
    .article-content blockquote.success {
      border-left: 3px solid #5eb109; }
      .article-content blockquote.success h5 {
        color: #5eb109; }
  .article-content blockquote h1,
  .article-content blockquote h2,
  .article-content blockquote h3,
  .article-content blockquote h4,
  .article-content blockquote h5 {
    font-weight: 400;
    margin-bottom: 0;
    border-bottom: none;
    padding-left: 1.25rem;
    padding-top: 1.25rem;
    font-size: 1rem;
    line-height: 1.5rem; }
  .article-content blockquote p {
    font-size: 1.1rem;
    padding-left: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; }
  .article-content blockquote p:last-child {
    margin-bottom: 0; }
  .article-content .image-wrapper {
    position: relative; }
  .article-content img {
    display: block;
    max-width: 100%;
    margin: 80px auto;
    cursor: pointer; }
  .article-content pre {
    background: #333;
    color: white;
    padding: 20px;
    overflow-x: auto; }

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #f8f8f2; }

.namespace {
  opacity: 0.7; }

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672; }

.token.boolean,
.token.number {
  color: #ae81ff; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2; }

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74; }

.token.keyword {
  color: #66d9ef; }

.token.regex,
.token.important {
  color: #fd971f; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.pk-lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8); }
  .pk-lightbox.open {
    display: block; }
  .pk-lightbox img.gallery-image {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    max-width: 80vw;
    max-height: 90vh;
    margin: 0;
    padding: 0;
    z-index: 100; }
    .pk-lightbox img.gallery-image.selected {
      display: block;
      animation: appear 0.5s ease-in; }
  .pk-lightbox .close-lightbox {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 3rem;
    font-weight: 300;
    color: white;
    cursor: pointer; }
    .pk-lightbox .close-lightbox:hover {
      color: orange; }
  .pk-lightbox .lightbox-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer; }
    .pk-lightbox .lightbox-arrow.prev {
      left: 10px; }
    .pk-lightbox .lightbox-arrow.next {
      right: 10px; }
  .pk-lightbox .lightbox-dots {
    width: 100%;
    position: absolute;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .pk-lightbox .lightbox-dots .lightbox-dot {
      margin: 0 1rem;
      width: 0.5rem;
      height: 0.5rem;
      background: white;
      border-radius: 50%; }
      .pk-lightbox .lightbox-dots .lightbox-dot.current {
        background: orange;
        animation: bulge 0.5s ease-in-out; }

@keyframes bulge {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }
@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@media screen and (max-width: 1280px) {
  .navbar {
    position: fixed;
    width: 100vw;
    left: 0;
    top: 6rem;
    height: calc(100vh - 6rem);
    transition: 0.4s ease-in-out;
    transform: translate3d(-100vw, 0, 0); }
    .navbar .nav-top-link {
      width: 100%;
      padding: 0 2rem; }
      .navbar .nav-top-link > span {
        width: 100%;
        display: flex;
        justify-content: space-between; }
      .navbar .nav-top-link .menu-down-caret {
        transform: rotate(-90deg); }

  .nav-top-link > span {
    cursor: pointer; }

  .navbar-inner {
    width: 100%;
    overflow: auto;
    position: static; }

  .navbar .dropdown-list {
    position: fixed;
    top: 0rem;
    left: 0;
    width: 100vw;
    transform-origin: center;
    transition: 0.4s ease-in-out;
    transform: translate3d(200vw, 0, 0);
    height: calc(100vh - 6rem);
    z-index: 50;
    background: #b8c2cc; }
    .navbar .dropdown-list.expose {
      transform: translate3d(0, 0, 0); }
    .navbar .dropdown-list .inner-menu-close {
      display: flex; }

  .navbar.show {
    transform: translate3d(0, 0, 0); }

  .menu-trigger svg .circlepath {
    stroke-dasharray: 19 150;
    stroke-dashoffset: 0;
    transition: 0.5s; }
  .menu-trigger svg .topline {
    transform: rotate(0deg);
    transform-origin: 10px 15px;
    transition: 0.5s; }
  .menu-trigger svg .bottomline {
    transform: rotate(0deg);
    transform-origin: 10px 15px;
    transition: 0.5s; }

  .navbar.show + .menu-trigger svg .circlepath {
    stroke-dasharray: 140 50;
    stroke-dashoffset: -35; }
  .navbar.show + .menu-trigger svg .topline {
    transform: rotate(45deg);
    transform-origin: 13px 18px; }
  .navbar.show + .menu-trigger svg .bottomline {
    transform: rotate(-45deg);
    transform-origin: 12px 25px; } }
