$off_white: rgb(242, 243, 244);
$grey_lightest: rgb(219, 222, 223);
$grey_lighter: rgb(194, 199, 201);
$grey_light: rgb(168, 175, 178);
$grey: rgb(142, 151, 154);
$grey_dark: rgb(113, 124, 128);
$grey_darker: rgb(87, 95, 97);
$grey_darkest: rgb(56, 61, 63);
$black: rgb(34, 31, 32);
$brand_red: rgb(216, 55, 60);
$brand_yellow: rgb(249, 216, 99);
$danger: rgb(176, 37, 38);
$success: rgb(82, 165, 48);
$warning: rgb(230, 123, 56);
