@font-face {
  font-family: "apercu";
  src: url("/assets/fonts/Apercu-Regular.woff2"),
    url("/assets/fonts/Apercu-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "apercu";
  src: url("/assets/fonts/Apercu-Bold.woff2"),
    url("/assets/fonts/Apercu-Bold.woff");
  font-weight: 700;
}
