<table>
    <thead>
        <tr>
            <th>Component</th>
            <th>SAP release</th>
            <th>Requirements to the SAP system</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Table</td>
            <td>Rel. above 4.0B</td>
            <td>For most tasks, the installation of a Z-module is necessary, but not for all.</td>
        </tr>
        <tr>
            <td>Table Join</td>
            <td>Rel. 7.0 or above</td>
            <td>Installation of a custom function module is necessary.</td>
        </tr>
        <tr>
            <td>Query</td>
            <td>Rel. above 4.0B</td>
            <td>Nothing.</td>
        </tr>
        <tr>
            <td>BAPI</td>
            <td>Rel. above 4.0B</td>
            <td>Nothing.</td>
        </tr>
    </tbody>
</table>